@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
*{
    font-family: 'Geologica', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.logo
{
    width: 50px;
    cursor: pointer;
    margin: 30px o;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(23, 22, 22);
    font-size: 14px;
}
nav ul li a:hover{
    color: orange;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
   
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 10px;
    margin-right: 10%;
}
.col-1 h2{
    font-size: 40px;
    font-weight: bolder;
    color: orange;
    letter-spacing: 1px;
}.col-1 h3{
    font-size: 20px;
    color: rgb(46, 44, 44);
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 20px;
    color: rgb(46, 44, 44);
    font-weight: 100;
}
.col-1 p {
    margin: 30px 0;
    font-size: 20px;
}
.col-1 button{
    width: 140px;
    border: 0;
    padding: 8px 10px;
    outline: none;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bolder;
    transition: width 0.5s;
    background: linear-gradient(to right, #196003,#e0b713, #FFC000);
}
.col-1 button img{
    width: 30px;
    display:none ;
}
.col-1 button:hover img{
     display: block;
}
.col-1 button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: "";
    width: 7px;
    height: 70%;
    background: linear-gradient(orange,green);
    position: absolute;
    left: -40px;
    top: 8px;

}
.col-2 .bgimage{
    width: 100%;
    margin-left: 10%;
    box-shadow: indigo;
    opacity: 80%;
}
.color-box
{
    position: absolute;
    right: 0;
    top: 20%;
    background: linear-gradient(orange,green);
    border-radius: 90px 10px 10px 20px;
    height: 50%;
    width: 18%;
    z-index: -7;
}
.color-box2
{
    position: absolute;
    right: 0;
    top: 80%;
    background: linear-gradient(green,orange);
    border-radius: 90px 10px 90px 10px;
    height: 20%;
    width: 18%;
    z-index: -7;
}

@media only screen and (max-width:700px) {
    nav ul{
        width: 100%;
        background: rgb(218, 201, 11);
        color: white;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: whitesmoke;
        font-weight: bold;
        font-size: 17px;
    }
    .menu-icon {
        display: block;
        right: 0;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2 .bgimage{
      display: none;
    }
    
}

.divider{
    border-top: 1px solid #bbb;
}

